.second {
  background-color: var(--dark-bg);
  padding: 100px 30px;
  transform: translateY(-50px);
  z-index: 9;
  position: relative;
  @media screen and (max-width: 1361px) {
    transform: translateY(-60px);
  }
  @media screen and (max-width: 1600px) {
    padding: 70px 30px;
  }
  &__title {
    text-align: center;
    font-size: 35px;
    color: var(--white-color);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
  }
  &__wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    // background-color: red;
    padding: 30px 20px;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 1600px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 676px) {
      padding: 10px 0;
    }
    gap: 80px;
    justify-items: center;
    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .card__title {
        font-size: 24px;
        color: var(--white-color);
        text-align: center;
        margin: 20px 0;
      }
      & .card__text {
        font-size: 18px;
        display: inline-block;
        // width: 400px;
      }
    }

    &--img {
      width: 400px;
      @media screen and (max-width: 676px) {
        max-width: 80%;
      }
    }
  }
}

.third {
  background-color: var(--light-gray-bg);
  height: 600px;
  z-index: 8;
  transform: translateY(-50px);
  padding: 100px 30px;
}
