.bg {
  // background-image: url(../../assets/img/gradienta-n2XqPm7Bqhk-unsplash.jpg);
  background-image: linear-gradient(to right bottom, #0250c5 0%, #d43f8d 100%);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  z-index: 10;
  position: relative;
}

.container {
  padding: 30px;
  display: flex;
  align-items: center;
  // height: calc(100vh);

  @media screen and (max-width: 1361px) {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  &__wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    @media screen and (max-width: 676px) {
      padding: 0 80px;
    }
    @media screen and (max-width: 450px) {
      padding: 0 20px;
    }
    &--title {
      color: var(--white-bg);
      font-size: 30px;
      line-height: 45px;
      font-weight: 400;
      letter-spacing: 5px;
      & span {
        font-weight: bold;
        font-family: "ZCOOL QingKe HuangYou", cursive;
      }
      & #flink {
        background-image: linear-gradient(to right, #3498db, #20bf6b);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        margin: 0 4px;
      }
      @media screen and (max-width: 1504px) {
        font-size: 24px;
      }
    }
    &--subtitle {
      background-image: linear-gradient(to right, #3498db, #20bf6b);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
      margin-bottom: 20px;
      font-size: 40px;
      letter-spacing: 4px;
      @media screen and (max-width: 1504px) {
        font-size: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
    }
    &--buttons {
      margin-top: 30px;
      @media screen and (max-width: 1504px) {
        text-align: center;
      }
      & button {
        &:first-child {
          margin-right: 30px;
          @media screen and (max-width: 1504px) {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &__banner {
    width: 45%;
    // background: rgba(255, 255, 255, 0.1);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(4.5px);
    // -webkit-backdrop-filter: blur(4.5px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // -webkit-backdrop-filter: blur(8px);
    @media screen and (max-width: 1361px) {
      height: 100%;
      width: auto;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }
}
