.bg {
  // background-image: linear-gradient(to right bottom, #0250c5 0%, #d43f8d 100%);
  background-image: url(../../assets/img/hero.jpg);
  background-position: center;
  background-size: cover;
  z-index: 10;
  position: relative;
  height: 852px;
  -webkit-clip-path: polygon(100% 0%, 100% 56%, 73% 100%, 9% 80%, 0 28%, 0 0);
  clip-path: polygon(100% 0%, 100% 56%, 73% 100%, 9% 80%, 0 28%, 0 0);
}

.container {
  display: flex;
  align-items: center;
  padding: 30px;

  @media screen and (max-width: 1361px) {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  &__wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    @media screen and (max-width: 676px) {
      padding: 0 80px;
    }
    @media screen and (max-width: 450px) {
      padding: 0 20px;
    }
    &--title {
      color: var(--white-bg);
      font-size: 24px;
      font-weight: 300;
      line-height: 33px;
      letter-spacing: 4px;
      @media screen and (max-width: 1504px) {
        font-size: 18px;
      }
    }
    &--subtitle {
      color: var(--white-color);
      display: inline-block;
      margin-bottom: 20px;
      font-size: 56px;
      letter-spacing: 4px;
      font-weight: 550;
      @media screen and (max-width: 1504px) {
        font-size: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
    }
    &--buttons {
      margin-top: 30px;
      @media screen and (max-width: 1504px) {
        text-align: center;
      }
      & button {
        &:first-child {
          margin-right: 30px;
          @media screen and (max-width: 1504px) {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &__banner {
    width: 45%;
    // background: rgba(255, 255, 255, 0.1);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(4.5px);
    // -webkit-backdrop-filter: blur(4.5px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // -webkit-backdrop-filter: blur(8px);
    @media screen and (max-width: 1361px) {
      height: 100%;
      width: auto;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }
}
